services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "la_colmena_development"
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build:
      context: ./
      dockerfile: Dockerfile-dev
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/la_colmena
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  sidekiq:
    build:
      context: ./
      dockerfile: Dockerfile-dev
    command: bundle exec sidekiq
    volumes:
      - .:/la_colmena
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

volumes:
  postgres-data:

