<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), subject_path(@subject) %>

  <div class="header">
    <h1>Edit subject</h1>
  </div>

  <%= render "form", subject: @subject %>
</main>
