<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Subjects</h1>
      <%= link_to "New subject",
                  new_subject_path,
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render @subjects %>
</main>
